<form method="post" action="{{ path('help_delete', {'id': help.id}) }}" onsubmit="return confirm('Are you sure you want to delete this request?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ help.id) }}">
    <button class="text-danger mt-md-2 mt-0 p-0 fw-bold border-0" title="Delete your request"><i class="fas fa-trash-alt"></i> Delete your request</button>
</form>
