<form method="post" action="{{ path('help_delete', {'id': help.id}) }}" onsubmit="return confirm('Are you sure you want to delete this request?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ help.id) }}">
    <button class="btn btn-danger mt-3 col-2">Delete</button>
</form>
