{% extends 'base.html.twig' %}

{% block title %}Edit Quest{% endblock %}

{% block body %}
    <h1>Edit Quest</h1>

    {{ include('quest/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('quest/_delete_form.html.twig') }}
    <a href="{{ path('quest_index') }}" class="btn btn-warning">back to list</a>

   
{% endblock %}
