<form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure to delete this answer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="text-white btn btn-danger btn-sm delete-comment" title="Delete your answer"><i class="fas fa-trash-alt"></i></button>
</form>
