{{ form_start(form, {'attr': {'id': 'add-comment'}}) }}
    {{ form_widget(form, {'attr': {'class': 'mt-3'}}) }}
    <button class="btn btn-sm btn-primary text-white fw-bold">{{ button_label|default('Comment') }}</button>
{{ form_end(form) }}
