<button class="btn btn-primary text-white fw-bold" id="comment-btn">New comment</button>
<div id="comment-input">
    <input type="hidden" id="help-id" value="{{help.id}}">
    {{ include('comment/_form.html.twig') }}
</div>
