@import 'variables';

nav {
    background-color: rgba(255, 255, 255, 0.247);

    img {
        width: 90px;
    }
    
    a {
        font-family: $font-p;
        font-weight: 200;
    }

    .join {
        font-family: $font-p;
        font-weight: 200;

        &:hover {
            color: $white;
        }
    }
}