@font-face {
    font-family: 'Macan Regular';
    src: url('../fonts/Macan-Regular.ttf');
}

@font-face {
    font-family: 'Domaine';
    src: url('../fonts/DomaineDisplayApp-MediumItalic.ttf');
}

$primary: #1dbf73;
$warning: #d0e500;
$light: #e4e4e4;
$dark: #3b3b3b;
$white: #f1f1f1;

$font-p: 'Macan Regular';