<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}Fiverr Helper
            {% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/365f79b953.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {% block navbar %}{% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
