<footer>
    <div class="container py-5">
        <div class="py-lg-5 p-0 d-flex flex-lg-row flex-column justify-content-center align-items-center">
            <div class="col-lg-4 col-12 mb-lg-0 mb-3 d-flex justify-content-center mb-lg-0 mb-4">
                <img src="{{ asset('build/images/Fiverr_Logo_GreenGreen_RGB.svg') }}" alt="logo" class="logo-footer">
            </div>
            <div class="d-flex flex-column col-lg-4 col-12 text-center mb-lg-0 mb-3">
                <a href="{{ path('app_login') }}" class="text-dark py-1">Sign in</a>
                <a href="{{ path('help_index') }}" class="text-dark py-1">Help freelancers</a>
                <a href="{{ path('ranking_index') }}" class="text-dark py-1">Leaderboard</a>
                <a href="https://www.fiverr.com/" class="py-1">Go to fiverr.com</a>
            </div>
            <div class="d-flex flex-lg-row col-lg-4 col-12 justify-content-center">
                <a href="https://twitter.com/fiverr" class="text-dark">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.facebook.com/fiverr" class="text-dark">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://www.linkedin.com/company/fiverr-com" class="text-dark">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://www.pinterest.com/fiverr" class="text-dark">
                    <i class="fab fa-pinterest"></i>
                </a>
                <a href="https://instagram.com/fiverr" class="text-dark">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <p class="text-center text-muted mt-2">© Fiverr International Ltd. 2021</p>
    </div>
</footer>
